name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Greeting Service
      run: |
        cd greeting-service
        mvn clean package -DskipTests
        docker build -t shashank2033/greeting-service:latest .
        docker push shashank2033/greeting-service:latest

    - name: Build & Push Time Service
      run: |
        cd time-service
        mvn clean package -DskipTests
        docker build -t shashank2033/time-service:latest .
        docker push shashank2033/time-service:latest

